In [1]:
a = 1

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

## 2.5.2

변수 y의 값이 윤년이면 “윤년입니다”를 출력하고 아니라면 “윤년이 아닙니다”라고 출력하는 프로그램을 만든다. 윤년은 2월 29일이 있는 해로 다음과 같이 정해진다.

서력 기원 연수가 4로 나누어 떨어지는 해는 윤년으로 한다(2004년, 2008년, 2012년, 2016년, 2020년, 2024년, …).

이 중에서 100으로 나누어 떨어지는 해는 평년으로 한다(1900년, 2100년, 2200년, 2300년, 2500년, …).

이 중에서 400으로 나누어 떨어지는 해는 윤년으로 둔다(1600년, 2000년, 2400년, …).

In [10]:
y = 1601

if y % 4 == 0:
    if y % 100 == 0:
        if y % 400 ==0 :
            print('윤년입니다.')
        else:
            print('평년입니다.')
    else:
        print('윤년입니다.')
else:
    print('윤년이 아닙니다.')

윤년이 아닙니다.

죄수의 딜레마는 게임 이론의 유명한 사례이다

https://ko.wikipedia.org/wiki/죄수의_딜레마

두 명의 범죄자 A, B가 체포되어 서로 다른 취조실에서 격리되어 심문을 받고 있다. 이들에게 자백 여부에 따라 다음의 선택이 가능하다.

둘 중 하나가 배신하여 죄를 자백하면 자백한 사람은 즉시 풀어주고 나머지 한 명이 10년을 복역해야 한다.

둘 모두 서로를 배신하여 죄를 자백하면 둘 다 5년을 복역한다.

둘 모두 죄를 자백하지 않으면 둘 다 1년을 복역한다.

죄수를 나타내는 변수 XA, XB는 자백하면 True, 그렇지 않으면 False를 가지는 값이다. 이때 변수 XA, XB 값에 따라 각각이 복역해야 하는 연 수를 변수 YA, YB라고 할 때 YA, YB를 계산하는 프로그램을 만든다.

In [12]:
XA = True
XB = False

if XA == True & XB == False:
    YA = 0
    YB =10
elif XA == False & XB == True:
    YA =10
    YB =0
elif XA ==True & XB == True:
    YA = YB = 5
else: YA = YB =1
    
print("XA = %d, XB = %d, YA = %d, YB = %d"%(XA,XB,YA,YB))

XA = 1, XB = 0, YA = 1, YB = 1

"&"연산자는 연산순서 때문에 괄호안치면 연산오류남

In [14]:
#방법 1
XA = True
XB = False

if XA == True and XB == False:
    YA = 0
    YB =10
elif XA == False and XB == True:
    YA =10
    YB =0
elif XA ==True and XB == True:
    YA = YB = 5
else: YA = YB =1
    
print("XA = %d, XB = %d, YA = %d, YB = %d"%(XA,XB,YA,YB))

XA = 1, XB = 0, YA = 0, YB = 10

In [15]:
#방법 2
XA = True
XB = False

if (XA == True) & (XB == False):
    YA = 0
    YB =10
elif (XA == False) & (XB == True):
    YA =10
    YB =0
elif (XA ==True) & (XB == True):
    YA = YB = 5
else: YA = YB =1
    
print("XA = %d, XB = %d, YA = %d, YB = %d"%(XA,XB,YA,YB))

XA = 1, XB = 0, YA = 0, YB = 10

In [16]:
def twotimes(x):
    y = 2 * x
    return y

In [18]:
twotimes(5)

10

In [22]:
threetimes(3)

9

In [21]:
def threetimes(x):
    y = 3 * x
    return y

짝수가 입력되면 짝수라는 문자열을, 홀수가 입력되면 홀수라는 문자열을 반환하는 함수를 만든다.

윤년을 나타나는 수가 입력되면 윤년이라는 문자열을, 그렇지 않은 수가 입력되면 평년이라는 문자열을 반환하는 함수를 만든다.

In [23]:
def 윤년판단(y):
    if y % 4 == 0:
        if y % 100 == 0:
            if y % 400 ==0 :
                print('윤년')
            else:
                print('평년')
        else:
            print('윤년')
    else:
        print('평년')

In [24]:
윤년판단(2000)

윤년

평년일 때 1, 3, 5, 7, 8, 10, 12 월은 31일, 4, 6, 9, 11월은 30일, 2월은 28일이다. 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days1 를 만든다. 사용 예는 다음과 같다.

In [30]:
def days1(x):
#     if ( y == '평년') :
        if (x == 1 or x ==3 or x == 5 or x ==7 or x ==8 or x ==10 or x ==12):
            return 31
        elif (x ==4 or  x == 6 or  x == 9 or x ==11):
            return 30
        elif ( x==2):
            return 28
        else:
            return 0 # 오류입니다.

In [31]:
days1(11)

30

In [39]:
def days1(y, x):
    if ( y == '평년') :
        if (x == 1 or x ==3 or x == 5 or x ==7 or x ==8 or x ==10 or x ==12):
            return 31
        elif (x ==4 or  x == 6 or  x == 9 or x ==11):
            return 30
        elif ( x==2):
            if (y == '평년'):
                return 28
            else:
                return 29
        else:
            return 0 # 오류입니다.

In [40]:
def days2(y, x):
        if (x == 1 or x ==3 or x == 5 or x ==7 or x ==8 or x ==10 or x ==12):
            return 31
        elif (x ==4 or  x == 6 or  x == 9 or x ==11):
            return 30
        elif ( x==2):
            if ( (y% 4 ==0 and y % 100 !=0) or y % 400 ==0):
                return 29
            else:
                return 28
        else:
            return 0 # 오류입니다.

In [42]:
days2(2000,2)

29

In [44]:
days2(2001, 2)

28

3개의 숫자를 입력하면 “그 숫자들의 합”과 “그 숫자들을 제곱한 숫자들의 합”의 차이(큰 수에서 작을 수를 뺀 값)를 계산하는 함수 diffsum를 만든다. 큰 수에서 작은 수를 뺀 결과이므로 항상 0보다 크거나 0과 같아야 한다.

In [45]:
def diffsum(x,y,z):
    sum = x+y+z
    square = x **2 +y **2 + z **2
    return square - sum

함수 바깥에 m 이라는 전역 변수를 만들고 그 값을 0으로 놓는다. 앞에서 만든 diffsum 함수를 고쳐서 diffsum 함수와 같은 값을 반환하지만 함수를 실행할 때 마다 diffsum 함수에서 계산된 값이 원래 있던 m보다 크면 m을 계산된 값으로 바꾸는 함수 diffsum2 를 만든다.

In [46]:
m = 0

def diffsum2(x,y,z):
    sum = x+y+z
    square = x **2 +y **2 + z **2
    result = square - sum
    if (result > m):
        m = result
diffsum2(2,3,4)
m

UnboundLocalError: local variable 'm' referenced before assignment

In [47]:
m = 0

def diffsum2(x,y,z):
    global m ## 변수 m을 전역변수화
    sum = x+y+z
    square = x **2 +y **2 + z **2
    result = square - sum
    if (result > m):
        m = result
diffsum2(2,3,4)
m

20