### 2.1 파이썬을 계산기로 사용하기

In [3]:
# 정수연산
1+1

2

In [5]:
11 / 4

2.75

In [6]:
11 // 4
#몫

2

In [7]:
11 % 4
#나머지

3

In [8]:
2 * 3

6

In [9]:
2 ** 3
# 2의 3승

8

In [12]:
25 * 6 / 3 + 17
# int(25 * 6 / 3 + 17)

67

In [14]:
2 ** 6 - 10 % 6

60

In [68]:
48320 - ( (365 - 5 *9 )/16) * 987

28580.0

In [21]:
# 연산순서와 괄호
## 괄호 칠때 텍스트블록쳐서 '(' 괄호 입력하면 양옆으로 입력됨
## quote("") 나 apostrophe ('')에도 적용됨
[{(1+1)}]
(((1+1)))

2

In [23]:
# 부등식의 참과 거짓 계산
2>3

False

In [24]:
2>=3

False

In [25]:
2 != 3
# 다르다 표시 !=

True

In [28]:
# 2 = 3 
## =표시는 변수 넣어주는걸 의미

2 == 3

False

In [29]:
#boolean 대수
True | False
# (|) 바 표시는 OR의 의미

True

In [30]:
True & False
# (&) 앤드 표시는 AND의 의미

False

In [31]:
(5<=6) & (3==4)

False

In [32]:
(2!=1) | (3>=4)

True

In [33]:
(5<=6) & ((0 ==0) | (3<4))

True

In [46]:
x = 3
y = 2
z = 4

In [47]:
# 변수 사용하기
x **(2*y) *(z+10)

1134

In [48]:
x **((2*y) *(z+10))

523347633027360537213511521

In [49]:
x = 2 ; z = 4 ; y = 3
del x, y, z ## 변수에 순서 바꿀때 쓰는 것
x **((2*y) *(z+10))

NameError: name 'x' is not defined

### 2.2 부동소수점 실수 자료형

In [54]:
# e3 는 10의 3승 즉, 1000을 의미
5.6e3

5600.0

In [55]:
# e-3 는 0.1의 3승 즉, 1000분의 1(0.001)을 의미
5.6e-3

0.0056

In [56]:
3141592e-6

3.141592

In [60]:
1 * 10 ** 3 \
+ 2 * 10 ** 2 \
+ 3 * 10 ** 1 \
+ 4 * 10 ** 0

1234

In [61]:
# 이진법으로 표시
bin(3)

'0b11'

In [62]:
bin(30)

'0b11110'

In [63]:
bin(8)

'0b1000'

In [67]:
bin(8*e-1)

NameError: name 'e' is not defined

In [72]:
for i in range(10):
    print('*'*(10-i))

**********
*********
********
*******
******
*****
****
***
**
*

In [73]:
0.1

0.1

In [74]:
0.2

0.2

In [75]:
0.3

0.3

In [76]:
0.1+0.2 == 0.3
## ???

False

In [77]:
%precision 55
## 소수점 55자리까지 보겠다는 명령어(파이썬 문법x , 환경문법)

'%.55f'

In [78]:
0.1

0.1000000000000000055511151231257827021181583404541015625

In [79]:
0.2

0.2000000000000000111022302462515654042363166809082031250

In [80]:
0.3

0.2999999999999999888977697537484345957636833190917968750

In [81]:
round(0.1+0.2, 5) == round(0.3,5)

True

In [84]:
%precision %r
#소수점 디폴트값으로 원위치

'%r'

In [83]:
0.1

0.1

In [86]:
int(1.0) # 데이터 소실됨
float(1) # 데이터 유지

1.0

In [87]:
# NaN은 null (값이 없다)

### 2.3 파이썬으로 글자를 출력하기

In [96]:
print('루나가 '안녕하세요.'라고 말했습니다.')

SyntaxError: invalid syntax (<ipython-input-96-0abd61e3107a>, line 1)

In [95]:
print('루나가 "안녕하세요."라고 말했습니다.')

루나가 "안녕하세요."라고 말했습니다.

In [91]:
a = 3

In [92]:
a

3

* print 메소드 없이 변수 a 입력만으로 3이 출력이 되는 이유는?
* 주피터나 코랩, 파이썬에서 알아서 자동 메소드를 지원해서
#### 우리는 게을러져야한다.

In [93]:
print(a)

3

In [97]:
print('a의 값은' +str(a))

a의 값은3

In [99]:
# int(1.0)
# float(1)
str(1.0)

'1.0'

In [100]:
print("*"*100)

****************************************************************************************************

In [101]:
print("한 줄 쓰고\n 그 다음줄에 쓴다.")

한 줄 쓰고
 그 다음줄에 쓴다.

In [104]:
print("한 줄 쓰고", end="")
## print 함수의 파리미터 end
print(" 그 다음줄에 쓴다.", end="\n")
## 막줄에서 end = "\n"은 디폴트값

한 줄 쓰고 그 다음줄에 쓴다.

In [105]:
name = '서울'
name

'서울'

In [107]:
print('@'*6 + '/n')

@@@@@@/n

In [108]:
# 여러줄의 문자열 출력하기
golbang = """
@@@@@@
@    @
@    @
@    @
@@@@@@
"""

print(golbang)

@@@@@@
@    @
@    @
@    @
@@@@@@

In [110]:
# 문자열 치환
## 문자열 객체의 replace 메소드를 갖다쓰기
"2021.05.08".replace('.','-') # .을 -으로 치환

'2021-05-08'

In [111]:
'2021-05-08'.replace('-','')

'20210508'

### 2.4 파이썬의 문자열 형식화

In [121]:
# %s - 문자열, %d (digit) - 정수, %f - 실수
"내이름은 %s 입니다." %"동찬"

'내이름은 동찬 입니다.'

In [122]:
"내이름은 %f 입니다." %12.0

'내이름은 12.000000 입니다.'

In [119]:
"내나이는 %.10f 입니다." %12.0  # .10 = 소수점 10자리까지

'내이름은 12.0000000000 입니다.'

In [123]:
"내이름은 %10s 입니다." %"동찬"

'내이름은         동찬 입니다.'

In [126]:
"내나이는 %-10d입니다." %12

'내나이는 12        입니다.'

In [125]:
"%d 곱하기 %d은 %d 이다." %(2,3,6)

'2 곱하기 3은 6 이다.'

In [127]:
# Tom is 13 years old
name = '존'
age  = '27'
"%s is %s years old"%(name, age)

'존 is 27 years old'

In [128]:
"{} is {} years old".format('존','27')

'존 is 27 years old'

In [135]:
# f문자열
name = '존' ; age  = '27'
f"{name} is {age} years old"
print( f"{name} is {age} years old" )

존 is 27 years old

In [133]:
"[{:-<20}]".format("*")
# 외울필요 x

'[*-------------------]'

In [137]:
age = 1000
f"{age, ','}"

"(1000, ',')"

In [2]:
age =1000

In [3]:
"{:,}".format(age)

'1,000'